html {
    height: 100%;
    width: 100%;
  }

  header{
    text-align: center;
    color: #c9c4c0;
    font-size: 45px;
  }

  p{
    text-align: center;
    color: #c9c4c0;
  }

   #Donar { 
    text-align: right;
  
  }

  body {
    background-image: url('https://wallpaperstock.net/wallpapers/thumbs1/15063wide.jpg');
    background-size: cover;
    background-repeat: no-repeat;

  }
  
  #secciondonar {
    text-align: right;
  }

  h2 {
    font-size: 45px;
    text-align: center;
    color: #462205;
  }
  
